
<div class="mt-4">
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">Tên đăng nhập</th>
                <th scope="col">Password</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this._id}}</td>
                <td>{{this.email}}</td>
                <td>{{this.passwordHash}}</td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Chưa có người dùng nào.
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>